{% extends "music_notes/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Add album
{% endblock %}

{% block body_block %}
<div class="container mt-4 d-flex flex-row justify-content-center">
    <div class="d-flex flex-column justify-content-around align-items-center col-sm-4">
        <h1>Add an album</h1>
        <form id="add_form" method="post" action="{% url 'music_notes:add' %}">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" name="title" id="title" required>
            </div>

            <div class="mb-3">
                <label for="artist" class="form-label">Artist:</label>
                <input type="artist" class="form-control" name="artist" id="artist" required>
            </div>

            <div class="mb-3">
                <label for="cover" class="form-label">Cover:</label>
                <input type="file" class="form-control" name="cover" id="cover">
            </div>

            <button type="submit" class="btn btn-dark w-100 py-2">Add</button>
        </form>
    </div>
</div>
{% endblock %}