{% extends "music_notes/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Add song
{% endblock %}

{% block body_block %}
<div class="container mt-4 d-flex flex-row justify-content-center">
    <div class="d-flex flex-column justify-content-around align-items-center col-sm-4">
        <h1>Add a song</h1>
        <form id="add_song_form" method="post" action="{% url 'music_notes:add_song' artist_slug=album.artist.slug album_slug=album.slug%}">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" name="title" id="title" required>
            </div>

            <button type="submit" class="btn btn-dark w-100 py-2">Add</button>
        </form>
    </div>
</div>
{% endblock %}