{% extends "music_notes/base.html" %}

{% block title_block %}
    Artist Detail
{% endblock %}

{% block body_block %}
    <h2>Details for Artist - {{ artist.name }}</h2>
    <div>
        <h4>Albums:</h4>
        {% if albums %}
            <ul>
                {% for album in albums %}
                    <li><a href="{% url 'music_notes:album_detail' artist_slug=album.artist.slug album_slug=album.slug %}">{{ album.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No albums available.</p>
        {% endif %}
    </div>
    <div>
        <h4>Songs:</h4>
        {% if songs %}
            <ul>
                {% for song in songs %}
                    <li><a href="{% url 'music_notes:song_detail' artist_slug=song.artist.slug album_slug=song.album.slug song_slug=song.slug%}">{{ song.title }}</a> - {{ song.duration }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No songs available.</p>
        {% endif %}
    </div>
{% endblock %}