<!DOCTYPE html>
{% load staticfiles %}
{% load music_notes_template_tags %}

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>
            music_notes - 
            {% block title_block %}
                How to Tango with Django!
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
        <div>
        {% block sidebar_block %}
            {% get_category_list %}
        {% endblock %}
        </div>
        <hr/>
        <div>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'music_notes:restricted' %}">Restricted Page</a></li>
                <li><a href="{% url 'music_notes:logout' %}">Logout</a></li>
                <li><a href="{% url 'music_notes:add_category' %}">Add a New Category</a></li>
                {% else %}
                <li><a href="{% url 'music_notes:register' %}">Sign Up</a></li>
                <li><a href="{% url 'music_notes:login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'music_notes:about' %}">About</a></li>
                <li><a href="{% url 'music_notes:index' %}">Index</a></li>
            </ul>
        </div>
    </body>
</html>