{% extends "music_notes/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1>Register for music_notes</h1>
    {% if registered %}
    music_notes says: <strong>thank you for registering!</strong>
    <a href="{% url 'music_notes:index' %}">Return to the homepage.</a><br/>
    {% else %}
    music_notes says: <strong>register here!</strong><br/>
    <form id="user_form" method="post" action="{% url 'music_notes:register' %}"
          enctype="multipart/form-data">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
{% endblock %}