{% extends "music_notes/base.html" %}

{% load static %}

{% block title_block %}
    Search Results
{% endblock %}

{% block body_block %}
    <h2 class="fw-bold">Search</h2>
    {% if song_query %}
        <div class="col-md-4 text-center d-flex flex-column align-items-center">
            <form method="POST" action="{% url 'music_notes:search' %}" class="w-100">

                {% csrf_token %}
                <div>
                    <input type="text" class="form-control text-center w-100" name="song_query" placeholder="{{ song_query }}">
                    <button type="submit" class="btn btn-dark w-100">Search</button>
                </div>
            </form>
        </div>
        <br/>
        <h3>Albums:</h3>
        {% for album in albums %}
        <div class="d-flex flex-row m-3 py-2 w-50 border">
            <div class="px-3">
            {% if album.cover_image %}
                <img src="{{ album.cover_image.url }}" alt="{{ album }} cover"
                style="width: 80px; height: 80px; object-fit: cover;">
            {% else %}
                <img src="{% static 'images/placeholder_album.jpg' %}" alt="{{ album }} cover"
                class="img-fluid" style="width: 80px; height: 80px; object-fit: cover;">
            {% endif %}
            </div>
            <div class="d-flex flex-column">
                <div>{{ album }}</div>
                <a href="/music_notes/{{ album.artist.slug }}/{{ album.slug }}">Page</a>
            </div>
        </div>
        {% endfor %}
        <h3>Songs</h3>
        {% for song in songs %}
        <div class="d-flex flex-row m-3 py-2 w-50 border">
            <div class="px-3">
            {% if song.album.cover_image %}
                <img src="{{ song.album.cover_image.url }}" alt="{{ album }} cover"
                style="width: 80px; height: 80px; object-fit: cover;">
            {% else %}
                <img src="{% static 'images/placeholder_album.jpg' %}" alt="{{ album }} cover"
                class="img-fluid" style="width: 80px; height: 80px; object-fit: cover;">
            {% endif %}
            </div>
            <div class="d-flex flex-column">
                <div>{{ song }}</div>
                <div>{{ song.duration }}</div>
                <a href="/music_notes/{{ song.artist.slug }}/{{ song.album.slug }}/{{ song.slug }}">Page</a>
            </div>
        </div>
        {% endfor %}
        <h3>Artists</h3>
        {% for artist in artists %}
        <div class="d-flex flex-row m-3 py-2 w-50 border">
            <div class="px-3">
            {% if artist.profile_picture %}
                <img src="{{ artist.profile_picture.url }}" alt="{{ album }} cover"
                class="rounded-circle shadow-sm mb-3" style="width: 150px; height: 150px; object-fit: cover;">
            {% else %}
                <img src="{% static 'images/default_profile.jpg' %}" alt="{{ album }} cover"
                class="rounded-circle shadow-sm" class="img-fluid" style="width: 80px; height: 80px; object-fit: cover;">
            {% endif %}
            </div>
            <div class="d-flex flex-column">
                <div>{{ artist }}</div>
                <a href="/music_notes/{{ artist.slug }}">Page</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-md-4 text-center d-flex align-items-center justify-content-center">
            <form method="POST" action="{% url 'music_notes:search' %}" class="w-100">

            {% csrf_token %}
                <div class="p-2">
                    <input type="text" class="form-control text-center w-100" name="song_query" placeholder="search">
                </div>
               <div class="p-2">
                   <button type="submit" class="btn btn-dark w-50">Search</button>
              </div>
            </form>
    </div>
    {% endif %}
{% endblock %}
